{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "lib",
                "style": true
            },
            "ant"
        ],
        [
            "import",
            {
                "libraryName": "ant-mobile",
                "style": true
            },
            "ant-mobile"
        ]
    ]
}